---
# tasks file for vault
- name: create namespace
  community.kubernetes.k8s:
    api_version: v1
    kind: Namespace
    name: vault
    state: present

- name: deploy helm recipe
  community.kubernetes.k8s:
    state: present
    namespace: "{{ namespace }}"
    definition: "{{ lookup('template', 'helm.yml.j2') }}"
    wait: yes

- name: Wait for all pods to be running
  community.kubernetes.k8s_info:
    kind: Pod
    namespace: "{{ namespace }}"
    label_selectors:
      - app.kubernetes.io/name=vault
      - vault-initialized
      - vault-sealed
      - vault-active
  register: vault_pod_status
  until: vault_pod_status.resources|length >= replicas
  retries: 5
  delay: 5

- name: Set Facts
  set_fact:
    vault_intialized: "{{ vault_pod_status.resources[0].metadata.labels['vault-initialized'] | bool }}"

- include_tasks: init.yml
  when: not vault_intialized

- include_tasks: unseal.yml